@import '../app/main.scss';

.hangarBlock {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}

.headerLine,
.paginationLine {
  display: flex;
  font-family: 'Bangers', sans-serif;
  color: $font-header-color;
  gap: 0.3rem;
}

.hangarHeader,
.balloonsNum {
  margin: 1rem 0 0.5rem;
}

.pageText,
.pageNum {
  margin: 0 0 0.5rem;
}

.balloonBlock {
  padding: 0 3%;
  width: 100%;
  height: fit-content;
}

.paginationButtonsBlock {
  display: flex;
  justify-content: space-between;
  width: 20%;
  .button {
    width: 45%;
    .buttonInner {
      flex-grow: 1;
      font-size: 0.7rem;
    }
  }
}
