@import '../../../../app.scss';

.input {
  background-color: transparent;
  border: 0.5px solid $font-color;
  border-radius: 2px;
  font-family: $font-regular;
  min-width: 7rem;
  color: $font-color;
}

.input::placeholder {
  color: $font-color;
  opacity: 0.5;
}
