@import '../../../app/app.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $font-color;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px 0px 0px $font-color;
}

.buttonInner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 100%;
  width: fit-content;
  padding: 0 0.5rem;
  .buttonText {
    color: $font-color;
  }
}

.button:active {
  box-shadow: 1px 2px 0px 0px $font-color;
}

.button:hover {
  .buttonInner {
    box-shadow: inset 0px 0px 3px 0px $shadow-color;
  }
}

// .updateButton:hover {
//   .buttonInner {
//     box-shadow: none;
//   }
// }
