$font-size: 1rem;
$font-header-color: #52006b;
$font-color: #230141;
$shadow-color: #ff00e6;
$font-header: 'Bangers', sans-serif;
$font-regular: 'Fira Sans Extra Condensed', sans-serif;

.body {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/img/illustr-mountain-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  font-family: $font-regular;
  margin: 0 auto;
}
